   <h1> PYTHON BASICS CONCEPT</h1>

<h3>INTRODUCTION TO DATA TYPES</h3>
#NUMBERS +,-,/,*,%(REMAINDER),**(POWER),

<h3>INDEXING []</h3>

#CHARACTER = H  E  L  L  O
#INDEXING  = 0  1  2  3  4
         #0 -4 -3 -2 -1  (FOR 0 U ALSO CAN WRITE -5 )

In [1]:
#SLICING 
MYSTRING='ABCDEFGHIJKLMNOP'

In [2]:
MYSTRING[2:] #START FROM INDEX 2 INCLUDIN 2 [START:STOP:JUMP]

'CDEFGHIJKLMNOP'

In [3]:
MYSTRING[:] #SELECT ALL

'ABCDEFGHIJKLMNOP'

In [4]:
MYSTRING[:3] #NOT INCLUDING 3  UPTO INDEX 2 INCLUDING 2

'ABC'

In [5]:
A='HELLO'

In [6]:
A[-5]

'H'

In [7]:
# /n FOR NEW LINE /t FOR TAB 
len('   HELLO  ') #LENGTH OF STRING IT ALSO COUNT SPACE

10

In [8]:
name='sam' #concatenation garni bhanx yeslai

In [9]:
name[1:]

'am'

In [10]:
lastname=name[1:]

In [11]:
'p'+lastname

'pam'

STRING FORMATING f'{}

In [12]:
NAME='NIRAJ'

In [13]:
print(f'{NAME} IS A GOOD GUY') #JUST F LAI AAGADI RAKHNE

NIRAJ IS A GOOD GUY

LIST LAI CHANGE GARNA MILX JASTI
TALA KO LAI MUTEBILITY BHANX JUNKI MATHI STRING MA GARNA MILYA THENA CONCATENATION GARNU PARYA THIYO

In [14]:
MYLIST=[1,2,3,4,5]

In [15]:
MYLIST

[1, 2, 3, 4, 5]

In [16]:
MYLIST[1]='FUCK'

In [17]:
MYLIST

[1, 'FUCK', 3, 4, 5]

ABA KAI END MA  ADD GARNA PARYO LIsT
MA BHANE .append function use gharne

In [18]:
MYLIST.append(5)

In [19]:
MYLIST

[1, 'FUCK', 3, 4, 5, 5]

YEDI LIST BATA END KO VALUE YA (INDEX HANA JUNLAI HATAUNI HO) HATAU NA PARYO BHANE .pop() USE GARNE

In [20]:
MYLIST.pop(0)

1

In [21]:
MYLIST.reverse()

In [22]:
MYLIST

[5, 5, 4, 3, 'FUCK']

Dictionary {} yesto bracket bhitra hunx

In [23]:
myprice ={'apple':23,'ball':45}

In [24]:
myprice['apple']

23

Tuples same list ho () yo bracket ma use hunx ani yo immutable hunx

In [25]:
mytuples=(1,2,2,3,4,5,6,7)

In [26]:
mytuples.count(2) #kati ota repeted value 
#x bhane ra check garna paryo bhane count garna list ma ni milx

2

In [27]:
mytuples[2]=2 # yehi ho immutability jun ki list ma hunthiyo

TypeError: 'tuple' object does not support item assignment

Boolians True or False

In [28]:
1==1,1>2,2>1

(True, False, True)

<h1>Comparision operator</h1>

In [30]:
2==2 # SINGLE = DIDA VARIABLE RAKHE JASTO MANX

True

In [31]:
'HEKL'=='FRE'

False

In [32]:
2.0==2

True

In [33]:
3!=3 #!= NOT EQUAL TO

False

In [34]:
1>2

False

In [35]:
2>1

True

In [36]:
2>=1#GREATER  THEN OR EQUAL TO

True

In [37]:
2<=1 #SMALLER THEN OR EQUAL TO

False

In [38]:
  1<2<3

True

<h2> LOGICAL OPERATOR</h2>

In [40]:
#and,or,not

In [44]:
 1>2 and 2<3 #( TT=1,TF=0,FT=0,FF=0)

False

In [45]:
1==1 or 2!=2 # YEUTA TRUE BHAYENI PUGX

True

In [47]:
not 1==1 #OPPOSITE BOOLIAN PAUNA KO LAGI

False

<h2>STATEMENTS</h2>
<h3>IF ELSE ELIF</h3>

 if some_condition:
    # execute some code
 elif some-other-condition  (multiple condition)
    # do some thing different
 else: 
    # do something else

In [51]:
if 3>2:
    print('its true')

its true

In [55]:
hungry=True
if hungry:
    print('feed me')

feed me

In [57]:
hungry=False
if hungry:   
    print('feed me')
else:
    print('im not hungry')

im not hungry

In [65]:
location='school'

if location=='school':
    print('i dont want to go school')
elif location=='bank':
    print('i love money')
elif location== 'store':
    print('i love shoping')
else: 
    print('i dont know much')

i dont want to go school

<h2> for loop</h2>

In [67]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [70]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [75]:
for num in mylist:
    #check for even num
    if num %2==0:
        print(f'even number:{num}')
    else:
        print(f'oddnumber:{num}')

oddnumber:1
even number:2
oddnumber:3
even number:4
oddnumber:5
even number:6
oddnumber:7
even number:8
oddnumber:9
even number:10

In [77]:
listsum=0
for num in mylist:
    listsum=listsum+num
    print(listsum)

1
3
6
10
15
21
28
36
45
55

In [81]:
mystring='hello world'
for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [82]:
tup=(1,2,3)
for item in tup:
    print(item)

1
2
3

In [84]:
mylist=[(1,2),(2,3),(4,5)]
for item in mylist:
    print(item)

(1, 2)
(2, 3)
(4, 5)

In [85]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
2
3
4
5

In [91]:
newlist=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in newlist:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [96]:
#dictionary
d={'k1':2,'k2':3,'k4':5}
for item in d:
    print(item)

k1
k2
k4

In [100]:
d={'k1':2,'k2':3,'k4':5}
for num in d.items():
    print(num)

('k1', 2)
('k2', 3)
('k4', 5)

In [103]:
for keys,value in d.items():
    print(value)

2
3
5

In [107]:
for value in d.values(): #keys ni cha funtion ma
    print(value)

2
3
5

<h2> While loops</h2>

while some_boolean_conditions:
    do something (while my dogs are still hungry,keep feeding my dogs)
else:
do different

In [3]:
x=0
while x<5:
    print(f'the current value of x is{x}')
    x = x+1
else:
    print('x is not less then 5')

the current value of x is0
the current value of x is1
the current value of x is2
the current value of x is3
the current value of x is4
x is not less then 5